# Python bağımlılıkları
# Kurulum: pip install -r requirements.txt
#py -m uvicorn main:app --reload

fastapi          # Web/API çatısı (framework)
uvicorn[standard]  # Uygulamayı çalıştıran ASGI sunucusu
# pydantic, fastapi ile birlikte otomatik gelir (ayrıca yazmaya gerek yok).
